/* ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b0a91;
    position: fixed;
    top = 0;
    width: 100%;
} */



 /* li {
  float: right;

} */

/* li:last-child{
  border-right: none;
}
*/

body{
  background-color: #000000;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

h2{
  position: absolute;
  top: 70%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-align: center;
}

#my_pic{
  top: 0%;
  left: 50%;
  transform: translateX(140%) translateY(0%);
}

.bg-primary{
  background-color: #5b0a91;
}



 li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
}


li a:hover{
  background-color: yellow;
  color: #5b0a91
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
}

#author{
  position: fixed;
  left: 0;
  bottom: 0;
  padding-right: 20px;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: right;
}

nav-link.active{
  background-color: #1e0330;
}

/*#name{
  float:left;
  display: block;
  color: yellow;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 30px;
} */
