/* ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b0a91;
    position: fixed;
    top = 0;
    width: 100%;
} */



 /* li {
  float: right;

} */

/* li:last-child{
  border-right: none;
}
*/

body{
  background-color: #000000;
}

#Intro{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

#description{
  position: absolute;
  top: 80%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-80%);
  -webkit-transform: translateX(-50%) translateY(-80%);
  transform: translateX(-50%) translateY(-80%);
  color: white;
  text-align: center;
}

#my_pic{
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translateX(-10%) translateY(5%);
}

.bg-primary{
  background-color: #5b0a91;
}

.random{
  color: white;
}

#link{
  color: #000000;
}

 li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 30px;
}


li a:hover{
  background-color: yellow;
  color: #5b0a91
}

@media only screen and (max-width: 1000px) {
  #my_pic{
      display: none;
  }
}

@media only screen and (max-height: 600px) {
  #my_pic{
      display: none;
  }
}

@media only screen and (max-height: 500px) {
  .footer{
      display: none;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
}

#author{
  position: fixed;
  left: 0;
  bottom: 0;
  padding-right: 20px;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: right;
}

nav-link.active{
  background-color: #1e0330;
}

#duck{
  position: relative;
  left: 30%;
  transform: translateX(0%) translateY(0%);
}

@media only screen and (max-width: 1000px) {
  #duck{
      display: none;
  }
}

@media only screen and (max-height: 500px) {
  #duck{
      display: none;
  }
}

.password{
  color: black;
}
